name: 'publish'

on:
  push:
    branches:
      - main 

jobs:
  publish-tauri:
    permissions:
      contents: write
    strategy:
      fail-fast: false
      matrix:
        include:
          - platform: 'macos-latest'
            args: '--target aarch64-apple-darwin'
          - platform: 'macos-latest'
            args: '--target x86_64-apple-darwin'
          - platform: 'ubuntu-22.04'
            args: ''
          - platform: 'windows-latest'
            args: ''

    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0 # Essential for generating accurate release notes from git history

      - name: setup node
        uses: actions/setup-node@v4
        with:
          node-version: lts/*

      - name: install Rust stable
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: ${{ matrix.platform == 'macos-latest' && 'aarch64-apple-darwin,x86_64-apple-darwin' || '' }}

      - name: install dependencies (ubuntu only)
        if: matrix.platform == 'ubuntu-22.04'
        run: |
          sudo apt-get update
          sudo apt-get install -y libwebkit2gtk-4.1-dev libappindicator3-dev librsvg2-dev patchelf

      - name: install frontend dependencies
        run: yarn install 

      - uses: tauri-apps/tauri-action@v0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          uploadPlainBinary: true # I CANNOT TELL IF THIS WORKS HOLY SHITTT
          tagName: v__VERSION__ 
          releaseName: 'Urayomi v__VERSION__'
          releaseBody: |
            ##  Download Info
            Select the installer or portable for your platform below.
                           
            ##  Changelog
            Check the automated notes below for a list of all changes in this version.
          releaseDraft: false # Setting to true allows you to review the notes before going public
          prerelease: false  
          # This enables GitHub's native "Generate release notes" engine
          generateReleaseNotes: true 
          args: ${{ matrix.args }}